body, html {
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app{
    background-color: #2B3035;
}

.card-info {
    background-color: #FFFFFF;
}

.pad-in {
    padding: 5% 15%;
}

.mb {
    margin-bottom: 1em;
}

.customize-card {
    min-height: 100%;
}


.tl {
    text-align: center;
}

.home-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.banner-img img {
    width: 100%;
    margin-top: 3%;
}

.uade-logo {
    width: 30%;
}

footer{
    position: fixed;
    width: 100%;
    background-color: #2B3035;
    color: white;
}

.game-section {
    height: 100vh;
}

nav {
    border-bottom: solid black 1px;
}
