body, html {
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app{
    background-color: #2B3035;
}

.card-info {
    background-color: #FFFFFF;
}

.card-title {
    height: 5vh;
}

.card-text a, .card-body a {
    margin-bottom: 10px;
    color: #F2C61E;
}

.card-img-top {
    width: 70%;
    margin: auto;
}

.pad-in {
    padding: 5% 15%;
}

.mb {
    margin-bottom: 1em;
}

.customize-card {
    min-height: 100%;
    border: solid 2px;
    border-color: #F2C61E;
    padding: 10px;
}


.tl {
    text-align: center;
}

.team-section-title {
    color: #2B3035;
}

.home-card {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.banner-img img {
    width: 100%;
    margin-top: 3%;
}

.uade-logo {
    width: 30%;
}

footer{
    width: 100%;
    background-color: #2B3035;
    color: white;
}

.game-section {
    height: 100vh;
}

nav {
    border-bottom: solid black 1px;
}

header {
    height: 10vh;
}

.color-palette-dark{
    background-color: #2B3035;
    color: white;
    padding: 5px;
}

.color-palette-light{
    background-color: #F2C61E;
    padding: 5px;
}

.list-identidad-visual {
    padding-bottom: 10px;
}

.btn-secondary {
    background-color: #2B3035;
    color: #F2C61E;
}